<h1>Chopyk Neighborhoods</h1>
<p>Let's hunt some Chopyks!</p>

<%= link_to image_tag("courage-my-love.jpg", alt: "Courage My Love"),
'http://ilovecouragemylove.com/wpwarner/' %>

<!-- everything below here might should go on its own page--> 

